<?xml version="1.0"?>
<robot name="robotic" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find robotic_description)/urdf/materials.xacro"/>
<xacro:include filename="$(find robotic_description)/urdf/Robotic.ros2control"/>
<xacro:include filename="$(find robotic_description)/urdf/Robotic.gazebo"/>

<!-- ================= BASE ================= -->

<link name="base_link">

  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="1.0"/>
    <inertia ixx="0.001" iyy="0.001" izz="0.001"
             ixy="0" iyz="0" ixz="0"/>
  </inertial>

  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robotic_description)/meshes/base_link.stl"
             scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>

  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robotic_description)/meshes/base_link.stl"
             scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>

</link>

<!-- ================= WAIST ================= -->

<link name="Waist_1">

  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="0.5"/>
    <inertia ixx="0.001" iyy="0.001" izz="0.001"
             ixy="0" iyz="0" ixz="0"/>
  </inertial>

  <visual>
    <origin xyz="0 0 -0.056" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robotic_description)/meshes/Waist_1.stl"
             scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>

  <collision>
    <origin xyz="0 0 -0.056" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robotic_description)/meshes/Waist_1.stl"
             scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>

</link>

<!-- ================= ARM 1 ================= -->

<link name="Arm_01_1">

  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="0.5"/>
    <inertia ixx="0.001" iyy="0.001" izz="0.001"
             ixy="0" iyz="0" ixz="0"/>
  </inertial>

  <visual>
    <origin xyz="0.006743 0.012807 -0.10028" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robotic_description)/meshes/Arm_01_1.stl"
             scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>

  <collision>
    <origin xyz="0.006743 0.012807 -0.10028" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robotic_description)/meshes/Arm_01_1.stl"
             scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>

</link>

<!-- ================= ARM 2 ================= -->

<link name="Arm_02_1">

  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="0.3"/>
    <inertia ixx="0.001" iyy="0.001" izz="0.001"
             ixy="0" iyz="0" ixz="0"/>
  </inertial>

  <visual>
    <origin xyz="0.006743 0.012807 -0.21303" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robotic_description)/meshes/Arm_02_1.stl"
             scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>

  <collision>
    <origin xyz="0.006743 0.012807 -0.21303" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robotic_description)/meshes/Arm_02_1.stl"
             scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>

</link>

<!-- ================= ARM 3 ================= -->

<link name="Arm_03_1">

  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="0.2"/>
    <inertia ixx="0.0001" iyy="0.0001" izz="0.0001"
             ixy="0" iyz="0" ixz="0"/>
  </inertial>

  <visual>
    <origin xyz="-0.007126 -0.081084 -0.20773" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robotic_description)/meshes/Arm_03_1.stl"
             scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>

  <collision>
    <origin xyz="-0.007126 -0.081084 -0.20773" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robotic_description)/meshes/Arm_03_1.stl"
             scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>

</link>

<!-- ================= JOINTS ================= -->

<joint name="base_to_waist_joint" type="continuous">

  <parent link="base_link"/>
  <child link="Waist_1"/>

  <origin xyz="0 0 0.056" rpy="0 0 0"/>

  <axis xyz="0 0 1"/>

</joint>


<joint name="shoulder_joint" type="revolute">

  <parent link="Waist_1"/>
  <child link="Arm_01_1"/>

  <origin xyz="-0.006743 -0.012807 0.04428" rpy="0 0 0"/>

  <axis xyz="0 1 0"/>

  <limit lower="-1.57"
         upper="1.57"
         effort="100"
         velocity="1"/>

</joint>


<joint name="elbow_joint" type="revolute">

  <parent link="Arm_01_1"/>
  <child link="Arm_02_1"/>

  <origin xyz="0 0 0.11275" rpy="0 0 0"/>

  <axis xyz="0 1 0"/>

  <limit lower="-1.57"
         upper="1.57"
         effort="100"
         velocity="1"/>

</joint>


<joint name="wrist_roll_joint" type="continuous">

  <parent link="Arm_02_1"/>
  <child link="Arm_03_1"/>

  <origin xyz="0.013869 0.093891 -0.0053" rpy="0 0 0"/>

  <axis xyz="1 0 0"/>

</joint>

</robot>
